name: CI

on:
  pull_request:
    branches:
      - develop

  push:
    branches:
      - develop

permissions:
  contents: read

env:
  GO_VERSION: "1.25.x"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Download deps
        run: go mod download

      - name: Run Tests
        run: go test ./... -race

      - name: Build check
        run: go test ./... -c
        shell: bash

  coverage-and-lint:
    needs: test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Coverage
        run: |
          go test ./... \
          -race \
          -coverprofile=coverage.out \
          -covermode=atomic

      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage.out

      - name: Upload Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.out
          fail_ci_if_error: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout=5m
